<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jogo Damas</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script data-ad-client="ca-pub-9680478325282338" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/main.js"></script>
    <script src="/multiplayer.js"></script>
    <script src="/setupCanvas.js"></script>
    <script src="/models/casas.js"></script>
    <script src="/models/pecas.js"></script>
    <script src="/models/jogada.js"></script>
    <script src="/regras/interaction.js"></script>
    <script src="/regras/menu.js"></script>
    <script src="/regras/validacao.js"></script>
    <script src="/regras/novaValidacao.js"></script>
    <script src="/regras/jogadasObrigatorias.js"></script>
    <script src="/regras/validacaoDama.js"></script>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body onload="init();">

    <nav class="navbar navbar-expand-md navbar-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="https://www.faj.br/"><img src="img/logoUnifaj.png"></a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="http://jogo-damas.herokuapp.com/">Reiniciar</a> <span
                        class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/diegolatorre/jogoDamas" target="blank">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.damasciencias.com.br/regras/regras_do_jogo.html" target="blank">Regras</a>
                </li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        LinkedIn
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://www.linkedin.com/in/diegolatorrelima/" target="blank">Diego La Torre</a>
                        <a class="dropdown-item"
                            href="https://www.linkedin.com/in/nelson-nedis-da-silva-junior-683685173/" target="blank">Nelson Silva</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/bueno-tales/" target="blank">Tales Bueno</a>
                    </div>
                </li>


            </ul>
        </div>
    </nav>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="menu col-sm-6">
                <button id="btnUmJogador" class="btn btn-primary btn-lg" onclick="escolhaUmJogador()">Um Jogador</button>
                <button id="btnDoisJogadores" class="btn btn-primary btn-lg" onclick="escolhaDoisJogadores()">Dois Jogadores</button>
                <button id="btnMultiplayer" class="btn btn-primary btn-lg" onclick="escolhaMultiplayer()">Multiplayer</button>
            </div>


            <div class="divJogador col-sm-4">
                <label id="jogador">White</label>
            </div>

            <div class="info col-sm-2">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="divCanvas">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>

</html>