.divCanvas {
  height: 600px;
  max-width: 600px;
  margin: auto;
  padding: 0
}
canvas {
  width: 100%;
  height: 100%
}
html {
  font-family: "Lucida Sans",sans-serif
}
img {
  height: 80px;
  width: 80px
}
body {
  background-color: #5f5c58
}
.navbar {
  background-color: #08051b;
  color: #d6e0e6;
  -webkit-box-shadow: 0 0 16px 1px rgba(0,0,0,.75);
  -moz-box-shadow: 0 0 16px 1px rgba(0,0,0,.75);
  box-shadow: 0 0 16px 1px rgba(0,0,0,.75)
}
@media only screen and (max-width:400px) {
  .divCanvas {
    height: 345px
  }
}
.rotate {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}