.divCanvas {
  height: 600px;
  min-width: 600px;
  max-width: 600px;
  margin: auto
}
canvas {
  width: 100%;
  height: 100%
}
html {
  font-family: "Lucida Sans",sans-serif
}
img {
  height: 80px;
  width: 80px
}
body {
  background-color: #f5b553
}
.navbar {
  background-color: #f7f7f7;
  color: #420000;
  -webkit-box-shadow: 0 0 16px 1px rgba(0,0,0,.75);
  -moz-box-shadow: 0 0 16px 1px rgba(0,0,0,.75);
  box-shadow: 0 0 16px 1px rgba(0,0,0,.75)
}